Source: nando
Section: utils
Priority: optional
Maintainer: Bogdan Bogush <bogdan.s.bogush@gmail.com>
Build-Depends: debhelper (>= 9), qt5-qmake, qtbase5-dev, libboost-system-dev, libboost-thread-dev
Standards-Version: 4.1.4
Homepage: https://github.com/bbogush/nand_programmer

Package: nando
Architecture: any
Depends: libqt5widgets5, libqt5gui5, libqt5core5a, ${misc:Depends}, ${shlibs:Depends}
Description: NAND flash programmer. 
 NAND flash programmer. It is licensed under GPLv3. See LICENSE.txt file for more information.

